src/ObjectQL/ORM/ConfigSection/ObjectQLConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ObjectQL.ORM.ConfigSection" elementFormDefault="qualified" targetNamespace="urn:ObjectQL.ORM.ConfigSection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="objectQL" type="tns:ObjectQL.ObjectQLSectionCT" />
	<xs:complexType name="ObjectQL.ObjectQLSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="drivers" type="tns:ObjectQL.DriverAccessCollectionCT">
				<xs:annotation>
					<xs:documentation>The drivers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="containers" type="tns:ObjectQL.ORM.ConfigSection.MapContainerCollectionCT">
				<xs:annotation>
					<xs:documentation>The containers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ObjectQL.DriverAccessCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:ObjectQL.DriverAccessCT">
				<xs:annotation>
					<xs:documentation>The DriverAccess Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ObjectQL.DriverAccessCollectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ObjectQL.DriverAccessCollectionClearCT" />
	<xs:complexType name="ObjectQL.DriverAccessCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="provider" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ObjectQL.MapRegisterSettingCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ObjectQL.MapContainerCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="register" type="tns:ObjectQL.MapRegisterSettingCT">
				<xs:annotation>
					<xs:documentation>The MapRegisterSetting Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="connectionKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schema" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Schema.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="buildingPolicy" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BuildingPolicy.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ObjectQL.MapContainerRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ObjectQL.MapContainerClearCT" />
	<xs:complexType name="ObjectQL.ORM.ConfigSection.MapContainerCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="mapContainer" type="tns:ObjectQL.MapContainerCT">
				<xs:annotation>
					<xs:documentation>A collection of MapRegisterSetting instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ObjectQL.ORM.ConfigSection.MapContainerCollectionRemoveCT">
				<xs:attribute name="connectionKey" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The ConnectionKey.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="ObjectQL.ORM.ConfigSection.MapContainerCollectionClearCT" />
</xs:schema>
